.container {
  width: 65%;
  margin: 85px auto;

  .section {
    margin: 40px 0px;
  }

  h1 {
    font-family: 'Potta One', cursive;    ;
    color: $dark-green;
    margin: 0px 0px 32px 0px;
  }

  .background-red {
    background-color: #FFC8B7;
  }

  .dashboard_mybooking_card {
    width: 50%;
  }
}
