.home {
  .home-container{
    margin: 40px 0px;
  }
  .presentation {
    position: relative;
    background-image: url("https://images.pexels.com/photos/12086491/pexels-photo-12086491.jpeg?cs=srgb&dl=pexels-kevin-burnell-12086491.jpg&fm=jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    .home_title {
      position: absolute;
      top: 52px;
      left: 74px;
      color: $dark-green;
      h1 {
        font-family: 'Potta One', cursive;
        font-size: 60px;
      }
    }

    form {
      margin: 120px;
      input {
        border-radius: 24px;
        padding: 16px 25px;
        border: 0;
        margin: 0px 8px 0px 0px;
      }
      textarea:focus, input:focus{
        outline: none;
      }
    }
  }

  #home-headline {
    font-family: 'Potta One', cursive;
    color: $dark-green;
    margin: 0px 0px 40px 0px;
    font-size: 30px;
  }
}
