<div class="links">
    <%= link_to 'Nouvelle Voiture', new_car_path, class: 'green_drive_link' %>
    <%= link_to 'Toutes les voitures en location', cars_path, class: 'green_drive_link' %>
</div>
<ul class="socials">
  <li>
    <i class="fa-solid fa-user"></i>
    <p>Angie</p>
  </li>
  <li>
    <i class="fa-solid fa-user"></i>
    <p>Clara</p>
  </li>
  <li>
    <i class="fa-solid fa-user"></i>
    <p>Adrien</p>
  </li>
  <li>
    <i class="fa-solid fa-user"></i>
    <p>Tereva</p>
  </li>
</ul>
