<footer>
  <div class="links">
      <%= link_to 'Nouvelle Voiture', new_car_path, class: 'green_drive_link' %>
      <%= link_to 'Toutes les voitures en location', cars_path, class: 'green_drive_link' %>
  </div>
</footer>
