<footer>
  <div class="links">
      <%= link_to 'new car location', new_car_path, class: 'green_drive_link' %>
      <%= link_to 'all cars', cars_path, class: 'green_drive_link' %>
  </div>
</footer>
