<section>
  <h1>Mes reservations à confirmer</h1>
  <% @oeoebookings.each do |request| %>
    <div class="dashboard_request_card bg-primary">
      <%= request.start_date %>
      <%= request.end_date %>
    </div>
  <% end %>
</section>
<section>
  <% @cars.each do |car| %>
    <%= car.model %>
  <% end %>
</section>
<section></section>
