<h1>Your bookings</h1>
<% @bookings.each do |booking| %>
  <p><%= booking.start_date %> to <%= booking.end_date %></p>
<% end %>

<h1>Your cars</h1>
<% @cars.each do |car| %>
  <p><%= car.model %> by <%= car.brand %></p>
<% end %>
