.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-green;
  transition: all 0.5s;
  &:hover {
    background-color: $dark-green;
    transition: all 0.5s;
    i {
      color: $light-green;
      transition: all 0.5s;
    }
  }
}
