.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.green_drive_navbar {
  background-color: $light-green;
  * {
    color:$dark-green;
    font-weight: bold;
  }
  .logo_nav {
    width: 140px;
    height: 40px;
    transition: all 0.5s;
  }
  .green_drive_link {
    border-radius: 30px;
    &:hover {
      color: $light-green;
      background-color: $dark-green;
    }
  }
}
