@keyframes RoadIn {
  0% {
    left: 100px;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: calc(100% - 200px);
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.green_drive_navbar {
  background-color: $light-green;
  position: relative;
  .car_icon {
    position: absolute;
    opacity: 0;
    animation: RoadIn 20s ease-in-out infinite;
  }
  * {
    color:$dark-green;
    font-weight: bold;
  }
  .logo_nav {
    width: 140px;
    height: 40px;
    transition: all 0.5s;
  }
  .green_drive_link {
    border-radius: 30px;
    &:hover {
      color: $light-green;
      background-color: $dark-green;
    }
  }
}
